@layer component {
  /* remove defaults */
  .password {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    height: 80px;
  }
  .password-filled {
    color: var(--white);
    font-family: "JetBrains Mono Bold";
    font-size: 32px;
    line-height: 43px;
  }
  .blank-password {
    color: rgba(0, 0, 0, 0.5);
    font-family: "JetBrains Mono Bold";
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
  }
  .set-password {
    color: var(--grey-400);
    font-family: "JetBrains Mono Bold";
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
  }
  .copy-img {
    fill: var(--green); /* Default color */
  }
  .copy-img:hover {
    fill: var(--white); /* Change to desired hover color */
  }
  .container-copied {
    display: flex;
    gap: 12px;
  }
}
